div {
    width: 400px;
    float: left;
    margin: 10px; /*khoảng cách giữa các nội dung*/
    border: 2px solid red; /*đường viền*/
    padding: 10px; /*khoảng cách từ bên ngoài vào bên trong*/
    background-color: bisque;
    border-radius: 10px;/*bo góc*/
    transition: all 300ms;/*thời gian thực hiện mượt mà*/

}
div:hover{/*trang thái click đổi màu*/
    background-color: azure;
    transform: translate(200px,200px);/*di chuyển hình ảnh*/
    transform: rotate(45deg);/*hình ảnh xoay*/
    transform: scale(1.5);/*zoom hình ảnh*/
}
img{
    max-width: 100%; /*độ rộng tối đa*/

}
#T1{
    background-color: rgb(220, 178, 72);
    
}