h1{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
table{
    text-align: justify;
}
.Flex_div{
    display: flex;
}
table {
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: center; /* Align text to the center */
}
th {
    background-color: #f2f2f2; /* Add a background color to the header */
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Add a background color to even rows */
}
tbody tr:hover {
    background-color: #f1f1f1; /* Add a hover effect */
}
ul li a{
    text-decoration: none;
}