body{
    width: 742px;
    height: 798px;
    font-family: Arial, Helvetica, sans-serif;
}
.t1{
    background-color: rgba(220, 221, 221, 0.864);
    font-size: 50px;
    text-align: center;
    display: block;
    color: rgb(249, 249, 249);
}

.t3{
    display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.2s ease;
            cursor: pointer;
}
.t3:hover {
    background-color: #0056b3;
}

.t3:active {
    background-color: #004080;
    transform: scale(0.95);
}