body{
    font-size: 15px;
    width: 21cm;
    height: 29,7cm;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 150px;
    float: left;
    padding-top: 45px;
    padding-left: 100px;
}
#T2{

    text-align: right;
    padding: 20px;
}
#T2 h3{
    font-size: 20px;
    text-align: center;
}
#T2 h4{
    font-size: 20px;
    text-align: center;
}
#T2 p{
    font-size: 17px;
    margin-left: 50%;
    text-align: left;
}
div h2{
    font-size: 20px;
    background-color: aqua;
    text-align: center;
}